.settings*/
Debug*/
startup*/
*.LD
*.cfg
STM32/STM32F4DISCOVERY\.xml
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Android/\.idea/libraries/
Android/\.idea/workspace\.xml
Android/gradle/
Android/build/
Android/\.idea/
Android/build\.gradle
Android/gradle\.properties
Android/gradlew
Android/gradlew\.bat
Android/local\.properties
Android/settings\.gradle
*.gradle
Android/app/proguard-rules\.pro

STM32/Release/
